.main {
  padding: 100px 300px;
  text-align: center;
  color: $white;
  .container {
    width: 400px;
    border: solid 1px $border-color;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 40px 60px 40px;
    input {
      @extend .input-style;
    }
    .forget-password {
      text-align: left;
      color: $primary-color;
    }
    button {
      width: 100%;
    }
    .or {
      color: $gray;
    }
  }
}
